<html>
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href = "{% static "image/lufei.jpeg" %}" type=image/x-icon>
    <title>用户登录界面</title>
</head>
  <style type="text/css">
    body{color:#000000;background:#FFEBCD;padding:0 5em;margin:0}
    h1{padding:2em 1em;background:#FFEAF0}
    h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}
    p{margin:1em 0}
  </style>
<body>
<h1>登录界面:</h1>
<form method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    {{uf.as_p}}
    第一次登陆请先注册 <br><br>
<input type="submit" value = "登录" />
    <a href = "register">注册</a>
</form>
</body>
</html